.button {
    background-color: white;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
body {
    background-image:-webkit-linear-gradient(right,#3498db);
background-size: cover;
}
h2{
    color:white;
}
li a{
text-decoration: none;
background-color: blue;
padding: 5px 10px;
margin: 0.5rem;
list-style: none;
color: aliceblue;
border-radius: 5px;
}
.text {
    color: #040404;
}
.text1 {
    color: rgb(0, 0, 0);
}
li a{
text-decoration: none;
background-color: rgb(255, 255, 255);
padding: 5px 10px;
margin: 0.5rem;
list-style: none;
color: aliceblue;
border-radius: 5px;
}
li{
list-style: none;
}
th, td{
    padding: .5rem;
    border: 1px solid #000;
}
input{
    width: 100%;
}
.add{
    align-items: center;
    display: flex;
    width: max-content;
    border-radius: 5px;
    background-color: #ccc;
    padding: .5rem;
}
.add i{
    margin-left: .5rem;
}